<p>
  <strong>Text:</strong>
  <%= comment.text %>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.question, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
